{% extends 'base.html' %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

{% block content %}

<div class="container-fluid">
<h1>Here are some projects.</h1>

<a class="btn btn-primary" href="https://github.com/warpz785/data-design/blob/master/Planets.ipynb" role=button>Project A: The Planets</a>

<a class="btn btn-success" href="https://github.com/warpz785/data-design/blob/master/Zosha%20-%20Scraping.ipynb" role=button>Project B: The Scraping</a>

<a class="btn btn-danger" href="https://github.com/warpz785/data-design/blob/master/The%20Time%20Machine.ipynb" role=button>Project C: The Time Machine</a>

</div>


{% endblock %}